# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Visual Studio Stuff
*.db
*.filters
*.ilk
*.iobj
*.ipch
*.ipdb
*.idb
*.lastbuildstate
*.log
*.pdb
*.recipe
*.suo
*.sln
*.tlog
*.user
*.vcxproj*

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Matlab temp files
*.asv

# Ignore g-test package
gmock.1.11.0/